node_modules
*.vim
*.sublime-workspace
*.log
*.aux
*.pdf
_minted*
!report/res/*.pdf
*.synctex.gz
*.sublime-workspace
*.pyg
*.fls
*.fdb_latexmk
*.out
*.toc
*.lof
*.swp
*-blx.bib
*.bbl
*.blg
src/tests/sunspider/compiled/*
src/tests/custom/compiled/*
