<html>
<head>
	<!-- Include required JS files -->
	<script type="text/javascript" src="/assets/shCore.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/assets/shBrushJScript.js"></script>
	<script src="/assets/codemirror.js"></script>
	<script src="/assets/javascript.js"></script>
	<script src="/js/wrappers.js"></script>
	<link href="/assets/shCore.css" rel="stylesheet" type="text/css" />
	<link href="/assets/shThemeDefault.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/codemirror.css">
	<link rel="stylesheet" href="/assets/mdn-like.css">
	<style type="text/css">
		body {
			padding:0;
			margin:0;
		}
		#compiler > div {
		}
		.CodeMirror {
			width: 50%;
			float:left;
			height:96%;
		}
		.CodeMirror:last-child, .CodeMirror:last-child .CodeMirror-gutter {
			background-color:#ddd;
		}
		#runbuttons button {
			width: 15%;
			height: 2%;
			line-height:2%;
			margin:0.5% 17.4%;
		}
	</style>
</head>
<body>
	<div id="compiler">
		<textarea id="from"><%- from %></textarea>

		<textarea id="to"><%- to %></textarea>
		<div id="runbuttons">
			<button onclick="execOrig()">Execute Original</button>
			<button onclick="execComp()">Execute Compiled</button>
		</div>
	</div>
	<script type="text/javascript">
		var origCode;
		var compCode;
		var from = CodeMirror.fromTextArea($("#from")[0],{
			theme:"mdn-like",
			lineNumbers: true,
			indentUnit: 4,
			indentWithTabs: true
		});
		var to = CodeMirror.fromTextArea($("#to")[0],{
			readOnly:true,
			theme:"mdn-like",
			lineNumbers: true,
			indentUnit: 4,
			indentWithTabs: true
		});

		function execOrig() {
			try{
				(new Function(origCode))();
			} catch (e) {
				alert(e);
			}
		}
		function execComp() {
			try{
				(new Function(compCode))();
			} catch (e) {
				alert(e);
			}
		}
		
		function compile(src, callback) {
			$.ajax({
			  type: "POST",
			  url: "/compile",
			  contentType: "text/plain",
			  dataType: "text",
			  data: src,
			  success: function(data) {
			  	callback(data);
			  },
			  error: function(e) {
			  	callback(e.responseText);
			  	// console.log(arguments);
			  },
			  complete: function() {
			  }
			});
		}

		var compileTimeout;
		from.on("change", function() {
			window.clearTimeout(compileTimeout);
			compileTimeout = window.setTimeout(function() {
				origCode = from.getValue();
				compile(from.getValue(), function(result) {
					compCode = result;
					to.setValue(result);
				});
			},1000);
		});
		$(document).ready(function() {
			origCode = document.getElementById("from").innerText;
			compCode = document.getElementById("to").innerText;
		});
	</script>
</body>
